body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding: 0px!important;
}
.menu-principal{
    width: 100%;
    background-color: black;
    height: 60px;
}
main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.header-2{
    background-color: #d5c27b;
    width: 980px;
    margin: 0 auto;
    padding: 14px;
}
.menu-urls{
    height: 89px;
    border-bottom: 3px solid black;
}
.menu ul li {
    display: inline-block;
    color:black;
    margin-left: 100px;
}
.menu ul li :hover{
    border-bottom: 3px solid 	#191970;
}
.menu ul li a:hover {
    color: 	#191970; 
}
.menu ul li a {
    color:black;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev{
    font-size: 0px;
    border:none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position:absolute;
    top: 40%;
    left: 0;
    background-color: #d5c27b;
}
button.slick-next {
    font-size: 0px;
    border:none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position:absolute;
    top: 40%;
    right: 0;
    background-color: #d5c27b;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #d5c27b;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 46%;
    top: 95%;
}
li.slick-active button {
    background-color: #d5c27b;
}
.slick-dots li {
    padding-left: 10px ;
    display: inline-block;
}
.texto1{
    text-align:center ;
}
.texto1 h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #d5c27b;
}
.texto1 p {
    font-size: 15px;
    color:black;
}
.col-3{
    text-align:center;
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
    float: left;
    position: relative;
}
.texto1_2 p{
    font-size: 15px;
    color: black;
}
.texto2{
    text-align:center;
}
.col-2{
    text-align:center;
    width: 30%;
    float: left;
    position: relative;
}
